extends layout

block content
    div.container
        form.form-inline(role='form')
            .form-group
                label(for='title') Title:
                input#title.form-control
            .form-group
                label(for='income') Income:
                input#income.form-control(type='number')
            .form-group
                label(for='outcome') Outcome:
                input#outcome.form-control(type='number')
            .form-group
                label(for='profit') Profit:
                input#profit.form-control(type='number')
            button.btn.btn-default(type='submit') Add

        table.table.table-striped
            thead
                tr
                    th Title
                    th Income
                    th Outcome
                    th Profit
            tbody
                each row, i in rows
                    tr
                        td #{row.title}
                        td #{row.income}
                        td #{row.outcome}
                        td #{row.profit}
    div.footer

