body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{
  margin-left: 10px;
  margin-right: 10px;
}

#profit {
  margin-right: 10px;
}

table {
  margin-top: 50px;
}
